<footer>
  <div id="footer-container">
    <div id="footer-text">
      <p>Chewallah Designs pieces are nature-inspired and commissioned artwork designs created from reclaimed wood.</p>
      <p>Contact Ben at cheah.pengan@gmail.com to commission a design or purchase a piece for sale.</p>
    </div>
    <div id="footer-menu">
      <p><a href="/">Home</a></p>
      <p><a href="/about/">About</a></p>
      <p><a href="/portfolio/">Portfolio</a></p>
      <p><a href="/contact/">Contact</a></p>
    </div>
    <div id="footer-social">
      <p>Social Links:</p>
      <i class="fab fa-instagram fa-2x"></i>
    </div>
  </div>
</footer>

