@import "~sass/styles";

#site-description {
  padding: 60px 150px;
  background-color: $sectionBackground;

  #description-container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .description-item {
      width:33%;
      padding: 20px 30px;
      min-width: 200px;
      text-align:center;

      @media screen and (max-width: 745px) {
        width: 100%;
      }
    }
  }
}

.icon {
  width:150px;
  height:88px;
  margin:0 auto;
}

#router-img {
  background-image: url(/assets/images/icons/man-using-router.png);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  padding:40px 150px;
  background-color: $sectionBackground;
}
