@import "~sass/styles";

#site-description {
  padding: 60px 150px;
  background-color: $sectionBackground;
  box-shadow:inset 0 0 200px 22px #928772;

  #description-container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .description-item {
      width:33%;
      padding: 20px 30px;
      min-width: 200px;
      text-align:center;

      @media screen and (max-width: 745px) {
        width: 100%;
      }
    }
  }
}

.icon-container {
  width:150px;
  height:88px;
  margin:0 auto;

  .icon {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #router-img {
    background-image: url(/assets/images/icons/man-using-router.png);
  }

  #fence-img {
    background-image: url(/assets/images/icons/fence-icon.png);
  }

  #paper-img {
    background-image: url(/assets/images/icons/paper-icon.png);
  }
}

footer {
  padding:40px 150px;
  background-color: $sectionBackground;
}
