<app-hero-image></app-hero-image>
<main>
  <div id="site-description">
    <div id="description-container">
      <div class="description-item">
        <div class="icon">
        </div>
        <h2 class="description-title">Hand-Carved</h2>
        <div class="description">
          Each piece is uniquely designed and hand carved in a workshop in Kenai, Alaska.
        </div>
      </div>
      <div class="description-item">
        <div class="icon">
        </div>
        <h2 class="description-title">Reclaimed Materials</h2>
        <div class="description">
          All wood comes from reclaimed and recycled materials to give our pieces a classic weathered style.
        </div>
      </div>
      <div class="description-item">
        <div class="icon">
        </div>
        <h2 class="description-title">Created to Order</h2>
        <div class="description">
          Every commissioned piece is made after discussing design details and requirements with a client, to give the best customized experience.
        </div>
      </div>
    </div>
  </div>

  <app-art-list></app-art-list>
</main>
