<app-hero-image></app-hero-image>

<main>
  <div id="site-description">
    <div id="description-container">
      <div class="description-item">
        <div class="icon-container">
          <div id="router-img" class="icon">

          </div>
        </div>
        <h3 class="description-title">Hand-Carved</h3>
        <div class="description">
          Each piece is uniquely designed and hand carved in a workshop in Kenai, Alaska.
        </div>
      </div>
      <div class="description-item">
        <div class="icon-container">
          <div id="fence-img" class="icon">

          </div>
        </div>
        <h3 class="description-title">Reclaimed Materials</h3>
        <div class="description">
          All wood comes from reclaimed and recycled materials to give our pieces a classic weathered style.
        </div>
      </div>
      <div class="description-item">
        <div class="icon-container">
          <div id="paper-img" class="icon">

          </div>
        </div>
        <h3 class="description-title">Created to Order</h3>
        <div class="description">
          Every commissioned piece is made after discussing design details and requirements with a client, to give the best customized experience.
        </div>
      </div>
    </div>
  </div>

  <app-header-image title="Featured Artwork" backgroundImage="mountain-lake" offsetY="-325"></app-header-image>

  <div id="featured-container">

    <app-display-piece-3d [piece]="pieces[2]" offset="-19px -83px"></app-display-piece-3d>
    <app-display-piece-3d [piece]="pieces[0]" offset="-55px -71px"></app-display-piece-3d>
    <app-display-piece-3d [piece]="pieces[6]" offset="-84px -52px"></app-display-piece-3d>

  </div>

  <app-header-image title="Contact Us" backgroundImage="double-bearl-lodge" offsetY="530"></app-header-image>

</main>
<app-footer></app-footer>
