<app-hero-image></app-hero-image>
<main>
  <div id="site-description">
    <div id="description-container">
      <div class="description-item">
        <div class="icon">
        </div>
        <h3 class="description-title">Hand-Carved</h3>
        <div class="description">
          Each piece is uniquely designed and hand carved in a workshop in Kenai, Alaska.
        </div>
      </div>
      <div class="description-item">
        <div class="icon">
        </div>
        <h3 class="description-title">Reclaimed Materials</h3>
        <div class="description">
          All wood comes from reclaimed and recycled materials to give our pieces a classic weathered style.
        </div>
      </div>
      <div class="description-item">
        <div class="icon">
        </div>
        <h3 class="description-title">Created to Order</h3>
        <div class="description">
          Every commissioned piece is made after discussing design details and requirements with a client, to give the best customized experience.
        </div>
      </div>
    </div>
  </div>
  <app-header-image title="Featured Artwork" backgroundImage="mountain-lake.jpg"></app-header-image>
  <app-art-list></app-art-list>
  <app-header-image title="Contact Us" backgroundImage="quiet-afternoon.jpg"></app-header-image>

</main>
<footer>
  <div id="footer-container">
    <p>Chewallah Designs pieces are nature-inspired and commissioned artwork designs created from reclaimed wood.</p>
    <p>Contact Ben at cheah.pengan@gmail.com to commission a design or purchase a piece for sale.</p>
  </div>
</footer>
