#page-header {
  color:white;
  width:100%;
  padding:80px 0;
  text-align:center;
  background-color:#403424;
  background-position-y: -300px;
  background-size:cover;
  background-repeat: no-repeat;

  @media only screen and (max-width: 1000px) {
    background-position-y: 0px;  
  }
  @media only screen and (max-width: 750px) {
    background-position-y: 0px;  
  }

  h1 {
    color: white;
    font-size: 72px;
    text-align: center;
    font-weight: 600;
    margin-top: 0px;
    @media only screen and (max-width: 1100px) {
      font-size: 56px;
    }
    @media only screen and (max-width: 460px) {
      font-size:40px;
    }
  }

  h2 {
    text-align: center;
    color: white;
    display: inline-block;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 32px;

    @media only screen and (max-width: 1100px) {
      font-size:26px;
    }
  }
}


