<app-page-header pageTitle="About Us" headerImage="ben-with-stephen.jpg"></app-page-header>
<main>
  <section class="flex-container">
    
    <div class="about-image">
      <img class="main-section-image" src="/assets/images/ben-circular-saw.jpg">
    </div>
    <div class="text">
      <p><strong>Ben Cheah</strong> worked for many years as an HVAC contractor installing solar-powered furnaces and air conditioning units before marrying his wonderful wife Megan and realizing his true passion as a lumberjack/general outdoorsman.</p>
      <p>Upon this sudden and life-altering realization, he sold everything he owned and immediately moved to the Kenai Peninsula in Alaska, where embraces the practice of subsistence fishing and communes on the daily with his Russian neighbors across the pond. </p>
      <p>To support his lavish lifestyle of wearing elk-furs and using antlers in all of his decorating, Ben will occasionally inspect solar panels remotely using his trans-national drone rig, and has recently taking up chainsaw-carving trees until he creates the very pieces you see before you today. </p>
      <a href="/portfolio">See The Chewallah Designs Portfolio</a>
    </div>
    
  </section>
</main>
<app-footer></app-footer>
