.header-image {
  padding: 60px 150px;
  background-color: #aaa;
  background-size:cover;
  background-position-y: 850px;
}

.header-image-title {
  font-size:72px;
  text-align:center;
  color:white;
  text-shadow: 2px 2px 10px black;
}
