<div id="hero-image-container">
  <div id="hero-image">
    <h1>Chewallah Designs</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div id="tagline-container">
      <h2 id="tagline">Beautiful custom carved art pieces for any home</h2>
    </div>
  </div>
</div>
