.art-piece-container {
  width: 600px;
  margin: 0 auto;
  perspective:1000px;

  .art-piece-frame {
    background-image: url('/assets/images/artpiece-border.png');
    background-size:100%;
    width:100%;
    background-repeat:no-repeat;
    height:370px;
    perspective: 10000px;
    transform-style: preserve-3d;
  }

  .art-piece-image {
    width:600px;
    height:357px;
    margin:100px auto 50px;
    background-size:120%;
    position:relative;
    z-index:10;
    transform: translateZ(-18px);
  }

  .frame-side {
    position:absolute;
    background-image: url('/assets/images/artpiece-border.png');
    width: 20px;
    height: 345px;
    /* border: 2px solid red; */
    filter: contrast(70%) brightness(50%);
  }

  .frame-horizontal {
    position: absolute;
    width: 600px;
    height:20px;
    background-image: url('/assets/images/artpiece-border.png');
    background-position: -128px -11px;
    background-size: 134%;
    transform: rotateX(90deg);
    filter: contrast(70%) brightness(60%);
  }

  #frame-outer-left {
    height: 360px;
    transform: translate3D(-14px, -371px, -7px) rotateY(122deg);
  }
  #frame-inner-left {
    transform: translate3D(7px, -363px, -9px) rotateY(105deg);
  }

  #frame-inner-right {
    transform: translate3D(569px, -365px, -9px) rotateY(90deg);
  }

  #frame-outer-right {
    height: 362px;
    transform: translate3D(593px, -371px, -7px) rotateY(54deg);
  }
  #frame-inner-top {
    transform: translate3D(0px, -354px, -10px) rotateX(90deg)
  }

  #frame-inner-bottom {
    transform: translate3D(0px, -40px, -10px) rotateX(90deg)
  }

  .shadow {
    width: 550px;
    height: 0px;
    box-shadow: 0px 0px 140px 40px black;
    position: absolute;
    overflow: visible;
    opacity:.8;
  }

  #bottom-shadow-left {
    transform: translate3d(29px, 6px, -0px) rotateX(90deg) rotateZ(9deg);
  }

  #bottom-shadow-right {
    transform: translate3d(23px, 6px, -0px) rotateX(90deg) rotateZ(-9deg);
  }

  .art-piece-pseudo {
    transition: transform .5s;
    // transform: rotate3d(0, 1, 0, 5deg);
    perspective:1000px;
    transform-style: preserve-3d;
  }

  // .art-piece-pseudo:after {
  //   content: "";
  //   width:520px;
  //   position: absolute;
  //   box-shadow: 43px -20px 40px 32px #222;
  //   transform: rotate(3deg) translateZ(-20px);
  //   z-index:1;
  // }

  // .art-piece-pseudo:before {
  //   content: "";
  //   width:520px;
  //   position: absolute;
  //   box-shadow: 18px 355px 40px 32px #222;
  //   transform: rotate(-3deg) translateZ(-20px);
  //   z-index:1;
  // }

  .separator {
    width: 80%;
    margin:20px auto;
    border-bottom:1px solid black;
  }

  h3 {
    font-size:36px;
    text-align:center;
    margin:20px 0;
  }

}




.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
